.todo-list-item {
  margin-left: 1.25rem;
  cursor: pointer;
  font-size: 1.25rem;
}

.btn-item {
  margin-right: 10px;
}

.done {
  text-decoration: line-through;
}

.important {
  font-weight: bold;
  color: tomato;
}
